* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f5f9ff;
  }
  
  header {
    background-color: #d0f1f7;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #d0f1f7;
}

.emergency,
.contact-info {
    color: #008080;
    font-size: 14px;
}
.telp{
    width:20px;
  height:20px; 
  border-radius:50%;

}
.tel{
    display:flex;
}
.social-media {
    display: flex;
    gap: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #32c1e9;
}

.navbar .logo img {
    height: 50px;

}
.t{
    width:100px;
    height:100px;
    border-radius:50%;
}
.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
   contact-between: space-between;
}
.search{
  width:30px;
  height:30px; 
  display: flex;
  gap: 15px;
 space-between:12px;
 border-radius:50%;
}
.appointment-btn {
    padding: 10px 20px;
    background-color: #b3e5fc;
    color: #000;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
  
  
  .container {
    display: flex;
    padding: 20px;
  }
  
  /* Sidebar */
  .sidebar {
    width: 250px;
    background-color: #c6f0fb;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .user-info {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .user-info img {
    width: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .user-info h3 {
    font-size: 18px;
  }
  
  .menu {
    list-style: none;
  }
  
  .menu li {
    margin-bottom: 15px;
  }
  
  .menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
  }
  
  .active-case-btn {
    background-color: #7cc6ff;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
  }
  
  /* Main Content */
  main {
    flex-grow: 1;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 22px;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .form-group {
    width: calc(50% - 20px);
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .form-group input[type="file"] {
    padding: 0;
  }
  
  .address {
    width: 100%;
  }
  
  .register-btn {
    padding: 10px 20px;
    background-color: #7cc6ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #e0f7fa;
    margin-top: 50px;
  }