* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f0f8ff;
    color: #333;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #d0f1f7;
}

.emergency,
.contact-info {
    color: #008080;
    font-size: 14px;
}
.telp{
    width:20px;
  height:20px; 
  border-radius:50%;

}
.tel{
    display:flex;
}
.social-media {
    display: flex;
    gap: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #32c1e9;
}

.navbar .logo img {
    height: 50px;

}
.t{
    width:100px;
    height:100px;
    border-radius:50%;
}
.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
   contact-between: space-between;
}
.search{
  width:30px;
  height:30px; 
  display: flex;
  gap: 15px;
 space-between:12px;
 border-radius:50%;
}
.appointment-btn {
    padding: 10px 20px;
    background-color: #b3e5fc;
    color: #000;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.dashboard-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.para{
    width: 200px;
    height: 100px;
}

aside {
    width: 170%;
    background-color: #eef7ff;
    padding: 20px;
}

.side-menu {
    list-style-type: none;
}

.side-menu li {
    margin-bottom: 15px;
}

.side-menu a {
    text-decoration: none;
    color: #333;
}
.opt{
   
    justify-content: center;
    display: flex;
}
.doctors-list {
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   

}

.doctors-list h2 {
    margin-bottom: 20px;
}

table {
    width: 99%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ccc;
}

img {
    width: 80px;
    height: auto;
    border-radius: 50%;
}

.remove-btn {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.remove-btn:hover {
    background-color: #d32f2f;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #6ed3f7;
    color: white;
}