* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f0f8ff;
    color: #333;
}
.header-top {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #d0f1f7;
}

.emergency,
.contact-info {
    color: #008080;
    font-size: 14px;
}
.telp{
    width:20px;
  height:20px; 
  border-radius:50%;

}
.tel{
    display:flex;
}
.social-media {
    display: flex;
    gap: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #32c1e9;
}

.navbar .logo img {
    height: 50px;

}
.t{
    width:100px;
    height:100px;
    border-radius:50%;
}
.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
   contact-between: space-between;
}
.search{
  width:30px;
  height:30px; 
  display: flex;
  gap: 15px;
 space-between:12px;
 border-radius:50%;
}
.appointment-btn {
    padding: 10px 20px;
    background-color: #b3e5fc;
    color: #000;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}


.dashboard-container {
    display: flex;
    padding: 20px;
}

aside {
    width: 20%;
    background-color: #eef7ff;
    padding: 20px;
}

.user-profile {
    text-align: center;
    margin-bottom: 20px;
}

.user-profile img {
    width: 80px;
    border-radius: 50%;
}

.side-menu {
    list-style-type: none;
}

.side-menu li {
    margin-bottom: 15px;
}

.side-menu a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.side-menu .active {
    background-color: #536dfe;
    color: white;
}

.about-section {
    width: 80%;
    padding: 20px;
}

.vision-mission, .other-values {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.vision, .mission, .saved-lives, .transparency {
    text-align: center;
    width: 45%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.vision img, .mission img, .saved-lives img, .transparency img {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
}

h3 {
    margin-bottom: 10px;
    font-weight: 500;
}

p {
    font-size: 0.9em;
    color: #666;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #6ed3f7;
    color: white;
}