* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f5f9ff;
  }
  
  header {
    background-color: #d0f1f7;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #d0f1f7;
}

.emergency,
.contact-info {
    color: #008080;
    font-size: 14px;
}
.telp{
    width:20px;
  height:20px; 
  border-radius:50%;

}
.tel{
    display:flex;
}
.social-media {
    display: flex;
    gap: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #32c1e9;
}

.navbar .logo img {
    height: 50px;

}
.t{
    width:100px;
    height:100px;
    border-radius:50%;
}
.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
   contact-between: space-between;
}
.search{
  width:30px;
  height:30px; 
  display: flex;
  gap: 15px;
 space-between:12px;
 border-radius:50%;
}
.appointment-btn {
    padding: 10px 20px;
    background-color: #b3e5fc;
    color: #000;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
  
  .services {
    text-align: center;
    padding: 50px 20px;
  }
  
  .services h1 {
    font-size: 32px;
  }
  
  .services p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .service-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .card h3 {
    margin: 20px 0 10px;
    font-size: 20px;
  }
  
  .card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .card a {
    color: #0088cc;
    text-decoration: none;
    font-weight: bold;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #e0f7fa;
    margin-top: 50px;
  }